@font-face {
  font-family: "iconfont"; /* Project id 4021692 */
  src: url('iconfont.woff?t=1681916025143') format('woff'),
       url('iconfont.ttf?t=1681916025143') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quanping:before {
  content: "\e632";
}

.icon-yinghua:before {
  content: "\e87a";
}
.icon-youxi:before {
  content: "\e753";
}
.icon-musicIcon1:before {
  content: "\e600";
}
.icon-musicIcon2:before {
  content: "\e602";
}
.icon-play:before {
  content: "\e66a";
}

.icon-pause:before {
  content: "\e677";
}

.icon-nextBtn:before {
  content: "\e6ae";
}

.icon-preBtn:before {
  content: "\e6bf";
}

