@font-face {
  font-family: "iconfont";
  src: url('iconfont.ttf?t=1681746900458') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinle:before {
  content: "\e600";
}

.icon-bofang:before {
  content: "\e66a";
}

.icon-zanting:before {
  content: "\e677";
}

.icon-dilanxianxingiconyihuifu_huabanfuben:before {
  content: "\e602";
}

.icon-xiayishou:before {
  content: "\e6ae";
}

.icon-shangyishouge:before {
  content: "\e6bf";
}

